@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,400;0,700;1,400;1,700&family=Red+Hat+Text:wght@500&display=swap');

//Fonts
$text-font: 'Aleo', serif;
$headings-font: 'Red Hat Text', sans-serif;

//Colors
$color-brand: #F2785C;
$color-brand-transparent: rgba(#F2785C, .7);
$color-text: #0D606F;
$color-text-secondary: #ffffff;
$color-additional: #0D606F;
$color-additional-transparent: #0d606f9f;