.destinations {
    margin-top: 82px;
    height: 1069px;
    text-align: center;

    @include media-mobile {
        height: 270px;
        margin-top: 12px;
    }

    h2 {
        margin: 0 0 48px;
        @include heading($headings-font, $color-brand, 40px);

        @include media-mobile {
            font-size: 14px;
            margin-bottom: 18px;
        }
    }
}
